<h1 *ngIf ="!isChange" mat-dialog-title>Adicionar Unidade</h1>
<h1 *ngIf ="isChange" mat-dialog-title>Editar Unidade</h1>
<div mat-dialog-content>
  <mat-form-field>
  <mat-label>CNES</mat-label>
    <input matInput [(ngModel)]="data.cnes">
  </mat-form-field>
  <mat-form-field>
  <mat-label>Nome da Unidade</mat-label>
    <input matInput [(ngModel)]="data.nomeDoEstabelecimento">
  </mat-form-field>
  <mat-form-field>
  <mat-label>Cep inicio</mat-label>
    <input matInput [(ngModel)]="data.cepInicio">
  </mat-form-field>
 <mat-form-field>
  <mat-label>Cep fim</mat-label>
    <input matInput [(ngModel)]="data.cepFim">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button *ngIf ="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button>
  <button mat-button *ngIf ="isChange" [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>